langchain==0.3.27

langgraph==0.6.6

langchain-core==0.3.74

langchain-groq==0.3.7

langchain-community==0.3.27

tavily-python==0.7.11

beautifulsoup4==4.13.4

requests==2.32.4

lxml==6.0.0

pydantic==2.11.7

python-dotenv==1.1.1

rich==14.1.0

typing-extensions==4.14.1